.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
  }
  
  .pageMap{
    width: 100%;
    height: 100vh;
  
        display: grid;
        grid-template-columns: 230px 500px auto  80px ;
        grid-template-rows: 100px 600px auto;
}

.map{
 height: 500px;
 width: 500px;
 position: relative;

 grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.mapList{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 10px;
}

.logo{
    height: 50px;
    width: 50px;
}